//
   Created by Yc on 2016/5/29.

-var d = dirname.substring(0,dirname.lastIndexOf('/'))
p
    -if(dirname!=='')
        a(href=(d===''?'/':d)) 上一层
    -if(prev)
        a(href=d+'/'+prev+'?noraw=true' style="margin-left:20px;")<< #{prev}
    -if(next)
        a(href=d+'/'+next+'?noraw=true',style="margin-left:20px;")=next+" >>"
