//
   Created by Yc on 2016/6/9.
extends layout

block content
    h1=title
    include btns
    div.markdown-body
        pre!=content
    footer
        p.text-center.text-info Running on node with Express, Jade. By Moyu.
