//
   Created by Yc on 2016/6/9.
extends layout

block content
    script(src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js")
    div.container-fluid
        h1=title
        include btns
        div.row
            div.col-lg-6.visible-lg
                h2 解析前
                div.markdown-body
                    pre
                        code(id='html-raw')=content
            div.col-lg-6
                h2.clearfix 解析后
                    small
                        a.pull-right(href=src,target='_blank')点击预览
                iframe(id='html-show',src=src)
        script(src='/javascripts/html.js')
        footer
            p.text-center.text-info Running on node with Express, Jade. By Moyu.