//
   Created by Yc on 2016/5/28.
extends layout

block content
    div.container-fluid
        h1=title
        include btns
        div
            img.img-responsive(src=src)
        footer
            p.text-center.text-info Running on node with Express, Jade. By Moyu.