doctype
html(lang="zh")
  head
    title= title
    meta(name="renderer",content="webkit")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/hljs-github.min.css')
    link(rel='stylesheet', href='/stylesheets/pilcrow.css')
    link(rel='stylesheet', href='/stylesheets/github-markdown.css')
  body
    block content