//
   Created by Yc on 2016/5/28.
extends layout

block content
    div.container-fluid
        h1=title
        p.text-primary 若不能播放，则不支持该格式在线播放，请
            a(href=src,style="margin:0px") 下载
            欣赏。
        include btns
        video(src=src controls="controls" width='70%') 您的浏览器不支持 video 标签。
        footer
            p.text-center.text-info Running on node with Express, Jade. By Moyu.